* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
